{# templates/app/about.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
À propos | {{ parent() }}
{% endblock %}

{% block pageTitle %}
<div class="page-title-heading">
    <div class="page-title-icon">
        <i class="pe-7s-info icon-gradient bg-night-sky">
        </i>
    </div>
    <div class="page-title">
        À propos
        <div class="page-title-subheading">
            Ici nous vous en disons plus sur la plateforme LearnApp ! Vous pourrez découvrir les fonctionnalités de la plateforme et en apprendre plus sur les possibilités d'apprentissage. Pour les établissements scolaires, vous pouvez consulter les offres et les fonctionnalités proposées pour vos élèves ou étudiants.
        </div>
    </div>
</div>
{% endblock %}

{% block pageContent %}
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#about">
            <span>À propos de LearnApp</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#schools">
            <span>Pour les établissements scolaires</span>
        </a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="about" role="tabpanel">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3 card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            À propos de LearnApp
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            LearnApp vous permet de réviser vos cours, de préparer un examen ou de travailler des compétences particulières. Pour cela, nous mettons à la disposition de chacun les contenus permettant de bien vous préparer.
                        </p>
                        <p>
                            En souscrivant à une offre Classic+ ou Premium, vous pouvez enrichir votre panel d'applications et avoir accès à des ressources uniques.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header" style="justify-content: center;">
                            <h4 class="my-0 font-weight-normal">LearnApp Classic</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">Gratuit</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Fonctionnalités standards</li>
                                <li>Deux apps incluses</li>
                                <li>Support e-mail et FAQ</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Créez votre compte</button>
                        </div>
                    </div>
                    <div class="card mb-4 box-shadow card-shadow-info border border-info">
                        <div class="card-header text-white bg-info" style="justify-content: center;">
                            <h4 class="my-0 font-weight-normal">LearnApp Classic+</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">5 € <small class="text-muted">/ mois</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>LearnApp Classic</li>
                                <li>Deux apps supplémentaires</li>
                                <li>Support e-mail prioritaire</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-info">Démarrez avec cette offre</button>
                        </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                        <div class="card-header" style="justify-content: center;">
                            <h4 class="my-0 font-weight-normal">LearnApp Premium</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">10 € <small class="text-muted">/ mois</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>LearnApp Classic+</li>
                                <li>Applications illimitées</li>
                                <li>Ressources premium</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-primary">Démarrez avec cette offre</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane tabs-animation fade" id="schools" role="tabpanel">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3 card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            LearnApp pour les établissements scolaires
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            La formule School Basic vous permet d'avoir accès aux résultats de test de vos élèves/étudiants. Ainsi, vous pouvez suivre l'avancée de chacun et ainsi adapter votre enseignement. Chaque élève peut ainsi bénéficier du suivi d'un de ses professeurs.
                        </p>
                        <p>
                            Avec les offres School Basic+ ou School Premium, vous pouvez enrichir le panel d'applications proposées afin de bénéficier d'une application sur demande. Vous pouvez également ajouter des contenus enseignants avec votre offre School Premium.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header" style="justify-content: center;">
                            <h4 class="my-0 font-weight-normal">LearnApp School Basic</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">20 € <small class="text-muted">/ mois</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Fonctionnalités établissement standards</li>
                                <li>Accédez aux résultats de vos élèves/étudiants</li>
                                <li>Support e-mail et FAQ</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Démarrez avec cette offre</button>
                        </div>
                    </div>
                    <div class="card mb-4 box-shadow card-shadow-info border border-info">
                        <div class="card-header text-white bg-info" style="justify-content: center;">
                            <h4 class="my-0 font-weight-normal">LearnApp School Basic+</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">50 € <small class="text-muted">/ mois</small> + 10 € <small class="text-muted">/ app</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>LearnApp School Basic</li>
                                <li>Apps sur demande</li>
                                <li>Support e-mail prioritaire</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-info">Démarrez avec cette offre</button>
                        </div>
                    </div>
                    <div class="card mb-4 box-shadow">
                        <div class="card-header" style="justify-content: center;">
                            <h4 class="my-0 font-weight-normal">LearnApp School Premium</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">100 € <small class="text-muted">/ mois</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>LearnApp School Basic+</li>
                                <li>Applications illimitées</li>
                                <li>Ajoutez vos ressources enseignants</li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-block btn-primary">Démarrez avec cette offre</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}