{% if lastVersion is not null %}
<a href="{{ path('version') }}">Version {{ lastVersion.number }}</a><br><small>Build {{ lastVersion.build }} - {{ lastVersion.date }}</small>
{% else %}
Error code #1001 &mdash; Historique des versions introuvable.
{% endif %}