div.form-group ul {
    padding-left: 0px;
}

div.form-group ul li {
    list-style: none;
    color: #a94442;
}

div.form-group ul li::before {
    list-style: none;
    color: #a94442;
    content: 'â— ';
}

div.form-group > label.required::after{
    content: " *";
    color: red;
}

.form-check{
    margin-left: 30px;
}

.form-check label {
    display: inline-block;
    margin-right: 66px;
    padding-left: 22px;
    text-indent: -22px;
}

form.questionnaire > div > label.required::after{
    content: " *";
    color: red;
}

form.questionnaire  div.form-check {
    margin-bottom: 15px;
}