<div class="row">
    <div class="col-md-12">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    GéoBrevet &mdash; L'histoire-géographie au Brevet
                </div>
            </div>
            <div class="card-body">
                <p>
                    Blabla avec des images
                </p>
            </div>
        </div>
    </div>
</div>

    